<div class="header_background-image-wrapper blog">
          <div class="header_overlay-layer"></div><img src="{{ article.image | img_url: 'master' }}" loading="eager" li-object:src="article.image | img_url: 'master'" li-object:alt="article.image.alt" alt="{{ article.image.alt }}" class="header_background-image">
        </div>
        <div class="padding-global padding-section-medium blog">
          <div class="container-large blog">
            <h1 li-object="article.title" class="heading-style-h1 blog">{{ article.title }}</h1>
          </div>
        </div> {% schema %} {
    "tag": "header",
    "name": "Article Hero",
    "class": "section_content-header blog",
    "presets": [
        {
            "name": "Article Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}