<div class="padding-global padding-section-medium"><div class="container-large"><div class="product_component"><div id="w-node-efdfe76d-e495-5632-4546-bb1b588eec17-14be695a" class="product_heading-wrapper"><div class="product_heading"><div class="max-width-large"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
</div></div><div class="product_button-row hide-mobile-landscape"><a href="{{ section.settings.url_button_link }}" class="button-special black w-inline-block"> <div class="normal-text">{{ section.settings.text_button_text }}</div><div class="circle-arrow"><div class="arrow_svg black white w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 10.047 8.199"><g id="arrow" transform="translate(-0.5 -0.293)"><path id="Path_13" data-name="Path 13" d="M1,4.393h9.047M6.654,1l3.393,3.393L6.654,7.785" fill="none" stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" fill-rule="evenodd"></path></g></svg></div></div> </a>
</div></div><div class="product_list-wrapper w-dyn-list"><div li-for:inside="collection.products | sort_by: 'created_at' | reverse" role="list" class="product_list w-dyn-items">
        {% for collection.products | sort_by: 'created_at' | reverse %}                            
                            {% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div li-if="product.available != false" role="listitem" class="product_list-item w-dyn-item">
    
    {% render 'product_item', product: product %}

    
</div>
{% endfor %}

                            
                    {% endfor %}    </div>
<div class="hide w-dyn-empty"><div>No items found.</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Category","class":"section_product","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Short heading here"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text","type":"text","label":"Button text","default":"Bekijken"},{"id":"collection_collection","type":"collection","label":"Collection"},{"type":"range","id":"collection_collection_limit","min":1,"max":99,"step":1,"label":"Limit: Collection","default":6},{"id":"text_niet_op_voorraad","type":"text","label":"Niet op voorraad","default":"Niet op vooraad"}],"presets":[{"name":"Category","category":"Liquify","blocks":[]}]} {% endschema %}