<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="product_component">
              <div class="product_list-wrapper w-dyn-list">
                <div li-for:inside="collection.products | sort_by: 'created_at' | reverse" role="list" class="product_list w-dyn-items">
        {% for collection.products | sort_by: 'created_at' | reverse %}                            
                  
                            {% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div li-if="product.available != false" role="listitem" class="product_list-item w-dyn-item">
    
                    
    {% render 'product_item', product: product %}
    
                  
</div>
{% endfor %}
                            
                
                    {% endfor %}    </div>
                <div class="hide w-dyn-empty">
                  <div>No items found.</div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Category",
    "class": "section_product",
    "settings": [
        {
            "id": "collection_collection",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "collection_collection_limit",
            "min": 1,
            "max": 99,
            "step": 1,
            "label": "Limit: Collection",
            "default": 6
        }
    ],
    "presets": [
        {
            "name": "Category",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}