<div class="padding-global padding-section-large">
          <div class="container-large untappd">
            <h1 class="h1-style black">
{{ section.settings.text_headline_1 }}
</h1>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Titel Instagram",
    "class": "section_instagram",
    "settings": [
        {
            "id": "text_headline_1",
            "type": "text",
            "label": "Headline 1",
            "default": "Volg ons op<br\/>@debiersalon"
        }
    ],
    "presets": [
        {
            "name": "Titel Instagram",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}