<div class="usp-container"><div class="text-size-small uspsmall">
{{ section.settings.text_verzending_tekst }}
</div>
<div data="" fs-scrolldisable-element="smart-nav" class="second-nav"><a href="/pages/over-ons" class="text-size-small uspsmall">Store</a><a href="../pages/contact.html" class="text-size-small uspsmall">Contact</a></div></div> {% schema %} {"tag":"div","name":"USP-balk","class":"usp-balk","settings":[{"id":"text_verzending_tekst","type":"text","label":"Verzending tekst","default":"Vanaf \u20ac75 gratis verzending in Nederland"}],"presets":[{"name":"USP-balk","category":"Liquify","blocks":[]}]} {% endschema %}