<div class="padding-global padding-section-medium"><div class="container-large"><div class="product_component"><div id="w-node-_255e628d-bebb-ea36-8172-fef8d36ba5b3-14be69d2" class="product_heading-wrapper"><div class="product_heading"><div class="max-width-large"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
</div></div><div class="product_button-row hide-mobile-landscape"></div></div>{% assign collection = collections['bieren'] %}
{% assign vendor = product.vendor %}
{% productcount  =0 %}
<div li-for:inside="collection.products" li-paginate="collection.products" li-paginate:by="3000" class="product_list-wrapper w-dyn-list">
        {% for collection.products %}                            
                            {% if product.available != false %}    <div li-if="product.available != false" role="list" class="product_list w-dyn-items">
    {% if product.metafilds.custom.bierstijl == bierstijl and productcount < 4 %}    <div li-if="product.metafilds.custom.bierstijl == bierstijl and productcount < 4" role="listitem" class="product_list-item w-dyn-item">
    {% render 'product_item', product: product %}
{% productcount = productcount | plus: 1 %}
    </div>
{% endif %}    </div>
{% endif %}
                            
                            <div class="hide w-dyn-empty"><div>No items found.</div></div>
                            
                    {% endfor %}    </div>
</div></div></div> {% schema %} {"tag":"section","name":"Zelfde als product","class":"section_product","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Short heading here"}],"presets":[{"name":"Zelfde als product","category":"Liquify","blocks":[]}]} {% endschema %}